@import 'normalize.css';
@import '../src';
@import '@commitchange/color-variables';
@import '@commitchange/grey-scale-variables';
@import 'code.css';
@import 'branding.css';

html { line-height: 1.6; }

body { overflow: hidden; }


.nav {
  left: 0;
  top: 0;
  position: absolute;
  width: 170px;
  overflow-y: auto;
  height: 100%;
}

.main {
  width: calc(100% - 170px);
  margin-left: 170px;
  overflow-y: auto;
  height: 100%;
  padding-bottom: 100px;
}

.bg-grey-1 { background: $grey-1; }
.bg-grey-2 { background: $grey-2; }
.bg-grey-3 { background: $grey-3; }
.bg-grey-4 { background: $grey-4; }
.bg-grey-5 { background: $grey-5; }


* {
  border-color: $grey-4;
}


