@import 'normalize.css';
@import 'src';
@import '@commitchange/color-variables';
@import '@commitchange/grey-scale-variables';
@import 'docs-css/code.css';
@import 'docs-css/branding.css';

* { border-color: $grey-4; }

.nav {
  left: 0;
  top: 0;
  position: fixed;
  width: 160px;
  overflow-y: auto;
  height: 100%;
}

main {
  padding-left: 160px;
  padding-bottom: 100px;
}

pre {
  margin-bottom: 2rem;
  background: $grey-1;
  border: 1px solid $grey-4;
  padding: 1rem;
}

section pre:last-of-type { margin-bottom: 0; }

.bg-grey-1 { background: $grey-1; }
.bg-grey-2 { background: $grey-2; }
.bg-grey-3 { background: $grey-3; }
.bg-grey-4 { background: $grey-4; }

.color-white { color: white; }
.bg-white { background: white; }

