.bg--grey--1 {
  background: $grey--1;
}
.bg--grey--2 {
  background: $grey--2;
}
.bg--grey--3 {
  background: $grey--3;
}
.bg--grey--4 {
  background: $grey--4;
}
.bg--grey--5 {
  background: $grey--5;
}
.bg--grey--6 {
  background: $grey--6;
}
.bg--grey--trans {
  background: $grey--trans;
}
.bg--green {
  background: $green--light;
}
.bg--pink {
  background: $red--light; 
}
.bg--blue {
  background: $blue--light; 
}
.bg--yellow {
  background: $lightYellow;
}

