button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  vertical-align: middle;
  height: auto;
  margin: 0;
  padding: 0.5em;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  user-select: none;
  background: none;
}

button:not(:disabled):hover {
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.1);
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button:active {
  transform: translateY(1px);
}

