button {
  font-family: inherit;
  padding: 0.5em;
  outline: none;
  border-width: 1px;
  border-color: $blue;
  border-style: solid;
  border-radius: 5px;
  color: $blue;
  user-select: none;
  background: $grey--1;
}

button:hover {
  background: $grey--2;
}

button.btn--edit {
  border-style: dashed;
}

button.btn--danger, 
button.btn--main {
  color: white;
  border-color: $grey--trans;
}

button.btn--main {
  background: $green;
}
button.btn--main:hover {
  background: $green--dark;
}

button.btn--danger {
  background: $red;
}
button.btn--danger:hover {
  background: $red--dark;
}

button:active {
  transform: translateY(1px);
}

button:disabled {
  color: rgba(255,255,255,.7);
  background: grey;
  border-color: grey;
  cursor: initial;
}

