$red: #ef3b22; 
$red--dark: color($red l(-10%));
$red--light: color($red l(96%));

$green: #5fb88d;
$green--dark: color($green l(-10%));
$green--light: color($green l(94%));


$blue: #39aad6;
$blue--dark: color($blue l(-10%));
$blue--light: color($blue l(94%));

$lightYellow: rgb(248, 248, 221);

$grey--1: color(black l(98%));
$grey--2: color(black l(94%));
$grey--3: color(black l(90%));
$grey--4: color(black l(86%));
$grey--5: color(black l(82%));
$grey--6: color(black l(60%));
$grey--trans: rgba(0,0,0,.05);


