$red: #ef3b22; 
$red--dark: color($red l(-10%));
$red--light: color($red l(95%));

$green: #5fb88d;
$green--dark: color($green l(-10%));
$green--light: color($green l(94%));


$blue: #39aad6;
$blue--dark: color($blue l(-10%));
$blue--light: color($blue l(96%));

$yellow: rgb(239, 220, 94);
$yellow--light: color($yellow l(93%)); 

$grey--1: color(black l(98%));
$grey--2: color(black l(96%));
$grey--3: color(black l(92%));
$grey--4: color(black l(86%));
$grey--5: color(black l(60%));

$scrim--1: rgba(0,0,0,.08);
$scrim--2: rgba(0,0,0,.5);

