textarea:focus,
select:focus,
input:focus {
  outline: none;
  border-color: $green;
}

textarea,
input,
select {
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  padding: 8px;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
  box-shadow: inset 0 0 7px rgba(0,0,0,.08);
}

form {
  display: inline-block;
}

fieldset {
  border: none;
}

label {
  font-weight: bold;
}

select {
  cursor: pointer;
}

.prepend,
.append {
  position: relative;
  display: inline-block;
  background: white;
  z-index: 1;
}

.prepend > span,
.append > span {
  position: absolute;
  top: 8px;
  opacity: 0.7;
  z-index: -1;
}

.prepend > span {
  left: 8px;
}

.append > span {
  right: 8px;
}

.prepend input, 
.prepend select {
  padding-left: 20px;
}

.append input, 
.append select {
  padding-right: 24px;
}



input[type='checkbox'],
input[type='radio'] {
  display: none;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  cursor: pointer;
  font-weight: normal;
  user-select: none;
  display: inline-block;
  margin-bottom: .25em;
}

input[type='checkbox'] + label:before,
input[type='radio'] + label:before {
  content: '\2713';
  text-align: center;
  padding: 1px;
  color: transparent;
  margin-right: .5em;
  text-align: center;
  box-shadow: inset 0 0 3px rgba(0,0,0,.08);
  background-color: $grey--1;
  display: inline-block;
  width: 18px;
  line-height: 14px;
  border: 1px $grey--6 solid;
}

input[type='radio'] + label:before {
  border-radius: 50%;
}

input[type='checkbox'] + label:hover:before,
input[type='radio'] + label:hover:before {
  background-color: $green--light;
}

input[type='checkbox']:checked + label:before,
input[type='radio']:checked + label:before {
  background-color: $green;
}

input[type='checkbox']:checked + label:before {
  color: white;
}

.toggle {
  display: inline-block;
  border: 1px solid $grey--5;
  border-radius: 5px;
}

.toggle input[type='radio'] + label:before {
  display: none;
}

.toggle input[type='radio'] + label {
  box-shadow: inset 0 0 5px rgba(0,0,0,.1);
  padding: .5rem;
  margin: 0;
}

.toggle input[type='radio'] + label:first-of-type {
  border-radius: 5px 0 0 5px;
}

.toggle input[type='radio'] + label:last-of-type {
  border-radius: 0 5px 5px 0;
}

.toggle input[type='radio'] + label:not(:last-of-type) {
  border-right: 1px solid $grey--5;
}

.toggle input[type='radio'] + label:hover {
  background-color: $green--light;
}

.toggle input[type='radio']:checked + label {
  background-color: $green;
  color: white;
}
