textarea:focus,
select:focus,
input:focus {
  outline: none;
  border-color: $blue;
}

textarea,
input,
select {
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  padding: 8px;
  font-size: 16px;
  width: 100%;
}

form {
  display: inline-block;
}

fieldset {
  border: none;
}

label {
  font-weight: bold;
}

.prepend,
.append {
  position: relative;
  display: inline-block;
}

.prepend > span,
.append > span {
  position: absolute;
  top: 8px;
  opacity: 0.7;
}

.prepend > span {
  left: 8px;
}

.append > span {
  right: 8px;
}

.prepend input, 
.prepend select {
  padding-left: 20px;
}

.append input, 
.append select {
  padding-right: 24px;
}

