textarea:focus,
select:focus,
input:focus {
  outline: none;
  border-color: $blue;

}

textarea,
input,
select {
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  padding: 8px;
  font-size: 16px;
  width: 100%;
  box-shadow: inset 0 0 7px rgba(0,0,0,.08);
}

form {
  display: inline-block;
}

fieldset {
  border: none;
}

label {
  font-weight: bold;
}

.prepend,
.append {
  position: relative;
  display: inline-block;
}

.prepend > span,
.append > span {
  position: absolute;
  top: 8px;
  opacity: 0.7;
}

.prepend > span {
  left: 8px;
}

.append > span {
  right: 8px;
}

.prepend input, 
.prepend select {
  padding-left: 20px;
}

.append input, 
.append select {
  padding-right: 24px;
}



input[type='checkbox'],
input[type='radio'] {
  display: none;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  cursor: pointer;
  font-weight: normal;
  user-select: none;
  display: inline-block;
  margin-bottom: .5em;
}

input[type='checkbox'] + label:before,
input[type='radio'] + label:before {
  content: '\2713';
  padding: 1px;
  color: transparent;
  margin-right: .5em;
  text-align: center;
  background-color: $grey--2;
  display: inline-block;
  width: 18px;
  line-height: 14px;
  border: 1px $grey--6 solid;
}

input[type='radio'] + label:before {
  border-radius: 50%;
}

input[type='checkbox'] + label:hover:before,
input[type='radio'] + label:hover:before {
  background-color: $blue--light;
}

input[type='radio']:checked + label:before {
  background-color: $blue;
}

input[type='checkbox']:checked + label:before {
  color: black;
  text-align: center;
}

