textarea:focus,
select:focus,
input:focus {
  outline: none;
}

textarea,
input,
select {
  border: 1px solid grey;
  border-radius: 0;
  padding: .5em;
  line-height: inherit;
  font-family: inherit;
  font-size: 16px;
  margin: 0;
  width: 100%;
  background-color: white;
  transition: border-color .2s ease-out;
  -webkit-appearance: none;
}

fieldset {
  border: none;
}

label {
  font-weight: bold;
  margin-bottom: .25rem;
  display: block;
  font-size: .9rem;
  color: rgba(0,0,0,.7);
  line-height: 1.2;
}

select {
  cursor: pointer;
  -moz-appearance: none;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.prepend,
.append {
  position: relative;
  display: inline-block;
  background: white;
  z-index: 1;
}

.prepend > span,
.append > span {
  position: absolute;
  top: .5em;
  opacity: 0.7;
  z-index: -1;
}

.prepend > span {
  left: .5em;
}

.append > span {
  right: .5em;
}

.prepend input, 
.prepend select {
  background-color: transparent;
  padding-left: 1.5em;
}

.append input, 
.append select {
  background-color: transparent;
  padding-right: 1.5em;
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  cursor: pointer;
  font-weight: normal;
  font-size: 16px;
  color: initial;
  user-select: none;
  display: inline-block;
  margin-bottom: .5em;
}

input[type='checkbox'] + label:before,
input[type='radio'] + label:before {
  text-align: center;
  padding: 2px;
  color: transparent;
  margin-right: .5em;
  text-align: center;
  background: white;
  display: inline-block;
  line-height: .75em;
  width: .75em;
  border: 1px grey solid;
  transition: background .1s ease-out;
}

input[type='radio'] + label:before {
  border-radius: 50%;
}

input[type='radio']:checked + label:before,
input[type='checkbox']:checked + label:before {
  color: white;
}

.toggle {
  display: table;
  border: 1px solid grey;
  border-radius: 3px;
  overflow: hidden;
  background: white;
}

.toggle input[type='radio'] + label:before {
  display: none;
}

.toggle input[type='radio'] + label {
  padding: .5em;
  display: table-cell;
  margin: 0;
  transition: background .1s ease-out, color .1s ease-out;
}

.toggle input[type='radio'] + label:not(:last-of-type) {
  border-right: 1px solid grey;
}

.toggle input[type='radio']:checked + label {
  color: white;
}

