[class*='helpBox--'] {
  padding: .75em;
  border-left-width: 3px;
  border-left-style: solid;
}

.helpBox--yellow {
  background: $yellow-light;
  border-color: $yellow;
}

.helpBox--green {
  background: $green-light;
  border-color: $green;
}

.helpBox--red {
  background: $red-light;
  border-color: $red;
}

