.hide { display:none !important }

.hover-hide-child,
.hover-hide-parent:hover .hover-show-child {
  opacity: 0;
  visibility: hidden;
}

.hover-show-child,
.hover-hide-parent:hover .hover-hide-child {
  opacity: 1;
  visibility: visible;
}

@media (max-width: $sm-break) {
  .sm-hide { display:none !important }
}

@media (min-width: $sm-break) and (max-width: $md-break){
  .md-hide { display:none !important }
}

@media (min-width: $md-break){
  .lg-hide { display:none !important }
}

