.hide { display:none !important }

.hover-child-hide,
.hover-parent-hide:hover .hover-child-show {
  opacity: 1;
  visibility: visible;
}

.hover-child-show,
.hover-parent-hide:hover .hover-child-hide {
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 480px) {
  .sm-hide { display:none !important }
}

@media (min-width: 480px) and (max-width: 780px){
  .md-hide { display:none !important }
}

@media (min-width: 780px){
  .lg-hide { display:none !important }
}

