.m-0  { margin:0 }
.mt-0 { margin-top:0 }
.mr-0 { margin-right:0 }
.mb-0 { margin-bottom:0 }
.ml-0 { margin-left:0 }
.mx-0 { margin-left:0; margin-right:0 }
.my-0 { margin-top:0; margin-bottom:0 }

.m-05  { margin:.25rem }
.mt-05 { margin-top:.25rem }
.mr-05 { margin-right:.25rem }
.mb-05 { margin-bottom:.25rem }
.ml-05 { margin-left:.25rem }
.mx-05 { margin-left:.25rem; margin-right:.25rem }
.my-05 { margin-top:.25rem; margin-bottom:.25rem }

.m-1  { margin: .5rem }
.mt-1 { margin-top: .5rem }
.mr-1 { margin-right: .5rem }
.mb-1 { margin-bottom: .5rem }
.ml-1 { margin-left: .5rem }
.mx-1 { margin-left: .5rem; margin-right: .5rem }
.my-1 { margin-top: .5rem; margin-bottom: .5rem }

.m-2  { margin: 1rem }
.mt-2 { margin-top: 1rem }
.mr-2 { margin-right: 1rem }
.mb-2 { margin-bottom: 1rem }
.ml-2 { margin-left: 1rem }
.mx-2 { margin-left: 1rem; margin-right: 1rem }
.my-2 { margin-top: 1rem; margin-bottom: 1rem }

.m-3  { margin: 2rem }
.mt-3 { margin-top: 2rem }
.mr-3 { margin-right: 2rem }
.mb-3 { margin-bottom: 2rem }
.ml-3 { margin-left: 2rem }
.mx-3 { margin-left: 2rem; margin-right: 2rem }
.my-3 { margin-top: 2rem; margin-bottom: 2rem }

.m-4  { margin: 3rem }
.mt-4 { margin-top: 3rem }
.mr-4 { margin-right: 3rem }
.mb-4 { margin-bottom: 3rem }
.ml-4 { margin-left: 3rem }
.mx-4 { margin-left: 3rem; margin-right: 3rem }
.my-4 { margin-top: 3rem; margin-bottom: 3rem }

.m-5  { margin: 3rem }
.mt-5 { margin-top: 3rem }
.mr-5 { margin-right: 3rem }
.mb-5 { margin-bottom: 3rem }
.ml-5 { margin-left: 3rem }
.mx-5 { margin-left: 3rem; margin-right: 3rem }
.my-5 { margin-top: 3rem; margin-bottom: 3rem }

.ml-auto { margin-left:auto }
.mr-auto { margin-right:auto }
.mx-auto { margin-left:auto; margin-right:auto; }

@media (max-width: 480px){
  .sm-m-0  { margin:0 }
  .sm-mt-0 { margin-top:0 }
  .sm-mr-0 { margin-right:0 }
  .sm-mb-0 { margin-bottom:0 }
  .sm-ml-0 { margin-left:0 }
  .sm-mx-0 { margin-left:0; margin-right:0 }
  .sm-my-0 { margin-top:0; margin-bottom:0 }

  .sm-m-05  { margin:.25rem }
  .sm-mt-05 { margin-top:.25rem }
  .sm-mr-05 { margin-right:.25rem }
  .sm-mb-05 { margin-bottom:.25rem }
  .sm-ml-05 { margin-left:.25rem }
  .sm-mx-05 { margin-left:.25rem; margin-right:.25rem }
  .sm-my-05 { margin-top:.25rem; margin-bottom:.25rem }

  .sm-m-1  { margin: .5rem }
  .sm-mt-1 { margin-top: .5rem }
  .sm-mr-1 { margin-right: .5rem }
  .sm-mb-1 { margin-bottom: .5rem }
  .sm-ml-1 { margin-left: .5rem }
  .sm-mx-1 { margin-left: .5rem; margin-right: .5rem }
  .sm-my-1 { margin-top: .5rem; margin-bottom: .5rem }

  .sm-m-2  { margin: 1rem }
  .sm-mt-2 { margin-top: 1rem }
  .sm-mr-2 { margin-right: 1rem }
  .sm-mb-2 { margin-bottom: 1rem }
  .sm-ml-2 { margin-left: 1rem }
  .sm-mx-2 { margin-left: 1rem; margin-right: 1rem }
  .sm-my-2 { margin-top: 1rem; margin-bottom: 1rem }

  .sm-m-3  { margin: 2rem }
  .sm-mt-3 { margin-top: 2rem }
  .sm-mr-3 { margin-right: 2rem }
  .sm-mb-3 { margin-bottom: 2rem }
  .sm-ml-3 { margin-left: 2rem }
  .sm-mx-3 { margin-left: 2rem; margin-right: 2rem }
  .sm-my-3 { margin-top: 2rem; margin-bottom: 2rem }

  .sm-m-4  { margin: 3rem }
  .sm-mt-4 { margin-top: 3rem }
  .sm-mr-4 { margin-right: 3rem }
  .sm-mb-4 { margin-bottom: 3rem }
  .sm-ml-4 { margin-left: 3rem }
  .sm-mx-4 { margin-left: 3rem; margin-right: 3rem }
  .sm-my-4 { margin-top: 3rem; margin-bottom: 3rem }

  .sm-m-5  { margin: 3rem }
  .sm-mt-5 { margin-top: 3rem }
  .sm-mr-5 { margin-right: 3rem }
  .sm-mb-5 { margin-bottom: 3rem }
  .sm-ml-5 { margin-left: 3rem }
  .sm-mx-5 { margin-left: 3rem; margin-right: 3rem }
  .sm-my-5 { margin-top: 3rem; margin-bottom: 3rem }

  .sm-ml-auto { margin-left:auto }
  .sm-mr-auto { margin-right:auto }
  .sm-mx-auto { margin-left:auto; margin-right:auto; }
}


