.p-0  { padding: 0 }
.pt-0 { padding-top: 0 }
.pr-0 { padding-right: 0 }
.pb-0 { padding-bottom: 0 }
.pl-0 { padding-left: 0 }
.px-0 { padding-left: 0; padding-right: 0 }
.py-0 { padding-top: 0;  padding-bottom: 0 }

.p-05  { padding: .25rem }
.pt-05 { padding-top:.25rem }
.pr-05 { padding-right:.25rem }
.pb-05 { padding-bottom:.25rem }
.pl-05 { padding-left:.25rem }
.px-05 { padding-left:.25rem; padding-right:.25rem }
.py-05 { padding-top:.25rem;  padding-bottom:.25rem }

.p-1  { padding: .5rem }
.pt-1 { padding-top: .5rem }
.pr-1 { padding-right: .5rem }
.pb-1 { padding-bottom: .5rem }
.pl-1 { padding-left: .5rem }
.py-1 { padding-top: .5rem; padding-bottom: .5rem }
.px-1 { padding-left: .5rem; padding-right: .5rem }

.p-2  { padding: 1rem }
.pt-2 { padding-top: 1rem }
.pr-2 { padding-right: 1rem }
.pb-2 { padding-bottom: 1rem }
.pl-2 { padding-left: 1rem }
.py-2 { padding-top: 1rem; padding-bottom: 1rem }
.px-2 { padding-left: 1rem; padding-right: 1rem }

.p-3  { padding: 2rem }
.pt-3 { padding-top: 2rem }
.pr-3 { padding-right: 2rem }
.pb-3 { padding-bottom: 2rem }
.pl-3 { padding-left: 2rem }
.py-3 { padding-top: 2rem; padding-bottom: 2rem }
.px-3 { padding-left: 2rem; padding-right: 2rem }

.p-4  { padding: 3rem }
.pt-4 { padding-top: 3rem }
.pr-4 { padding-right: 3rem }
.pb-4 { padding-bottom: 3rem }
.pl-4 { padding-left: 3rem }
.py-4 { padding-top: 3rem; padding-bottom: 3rem }
.px-4 { padding-left: 3rem; padding-right: 3rem }

.p-5  { padding: 4rem }
.pt-5 { padding-top: 4rem }
.pr-5 { padding-right: 4rem }
.pb-5 { padding-bottom: 4rem }
.pl-5 { padding-left: 4rem }
.py-5 { padding-top: 4rem; padding-bottom: 4rem }
.px-5 { padding-left: 4rem; padding-right: 4rem }

@media (max-width: 480px){
  .sm-p-05  { padding: .25rem }
  .sm-pt-05 { padding-top:.25rem }
  .sm-pr-05 { padding-right:.25rem }
  .sm-pb-05 { padding-bottom:.25rem }
  .sm-pl-05 { padding-left:.25rem }
  .sm-px-05 { padding-left:.25rem; padding-right:.25rem }
  .sm-py-05 { padding-top:.25rem;  padding-bottom:.25rem }

  .sm-p-0  { padding: 0 }
  .sm-pt-0 { padding-top: 0 }
  .sm-pr-0 { padding-right: 0 }
  .sm-pb-0 { padding-bottom: 0 }
  .sm-pl-0 { padding-left: 0 }
  .sm-px-0 { padding-left: 0; padding-right: 0 }
  .sm-py-0 { padding-top: 0;  padding-bottom: 0 }

  .sm-p-1  { padding: .5rem }
  .sm-pt-1 { padding-top: .5rem }
  .sm-pr-1 { padding-right: .5rem }
  .sm-pb-1 { padding-bottom: .5rem }
  .sm-pl-1 { padding-left: .5rem }
  .sm-py-1 { padding-top: .5rem; padding-bottom: .5rem }
  .sm-px-1 { padding-left: .5rem; padding-right: .5rem }

  .sm-p-2  { padding: 1rem }
  .sm-pt-2 { padding-top: 1rem }
  .sm-pr-2 { padding-right: 1rem }
  .sm-pb-2 { padding-bottom: 1rem }
  .sm-pl-2 { padding-left: 1rem }
  .sm-py-2 { padding-top: 1rem; padding-bottom: 1rem }
  .sm-px-2 { padding-left: 1rem; padding-right: 1rem }

  .sm-p-3  { padding: 2rem }
  .sm-pt-3 { padding-top: 2rem }
  .sm-pr-3 { padding-right: 2rem }
  .sm-pb-3 { padding-bottom: 2rem }
  .sm-pl-3 { padding-left: 2rem }
  .sm-py-3 { padding-top: 2rem; padding-bottom: 2rem }
  .sm-px-3 { padding-left: 2rem; padding-right: 2rem }

  .sm-p-4  { padding: 3rem }
  .sm-pt-4 { padding-top: 3rem }
  .sm-pr-4 { padding-right: 3rem }
  .sm-pb-4 { padding-bottom: 3rem }
  .sm-pl-4 { padding-left: 3rem }
  .sm-py-4 { padding-top: 3rem; padding-bottom: 3rem }
  .sm-px-4 { padding-left: 3rem; padding-right: 3rem }

  .sm-p-5  { padding: 4rem }
  .sm-pt-5 { padding-top: 4rem }
  .sm-pr-5 { padding-right: 4rem }
  .sm-pb-5 { padding-bottom: 4rem }
  .sm-pl-5 { padding-left: 4rem }
  .sm-py-5 { padding-top: 4rem; padding-bottom: 4rem }
  .sm-px-5 { padding-left: 4rem; padding-right: 4rem }
}

