.progressBar {
  width: 100%;
  display: block;
  overflow: hidden;
}

.progressBar > span {
  line-height: .5;
  display: inline-block;
}

.progressBar > span:before {
  content: '.';
  visibility: hidden;
}
