html { 
  line-height: 1.5;
  font-size: 16px;
}

* { box-sizing: border-box; }

*:focus { outline: none; }

img {
  max-width: 100%;
  height: auto;
}

svg { max-height: 100%; }

h1, 
h2, 
h3,
h4, 
h5, 
h6 {
  margin-top: 1em;
  margin-bottom: .5em;
}

p, 
dl, 
ol, 
ul, 
pre, 
blockquote {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

code,
pre {
  overflow-x: auto;
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

table { border-collapse: collapse; }

a, 
button { 
  cursor: pointer; 
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

textarea { resize: vertical; }

