* {
  border-color: $grey--5;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

h1, h2, h3,
h4, h5, h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code,
pre,
samp {
  font-family:
    'Source Code Pro',
    Menlo,
    Consolas,
    'Liberation Mono',
    monospace;
}

code, samp {
  font-size: 87.5%;
  padding: .125em;
}

pre {
  font-size: 87.5%;
}

blockquote {
  font-size: 1.25rem;
  font-style: italic;
  margin-left: 0;
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-top: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

table {
  border-collapse: collapse;
}

a, button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

