* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
}

::selection {
  background: $grey-5; 
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

h1, h2, h3,
h4, h5, h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}

p {
  line-height: 1.6;
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code,
pre,
samp {
  font-family:
    'Source Code Pro',
    Menlo,
    Consolas,
    'Liberation Mono',
    monospace;
}

pre {
  font-size: .85em;
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

table {
  border-collapse: collapse;
}

a, button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

