td,
th {
  padding: .5em 1em;
}

th {
  text-align: left;
}

tr:not(:first-of-type) {
  border-top: 1px solid $grey-4;
}


@media (max-width: 480px) {
  table {
    font-size: 14px;
  }
  td, th {
    padding: .5em;
  }
}


