td,
th {
  padding: .5em;
}

th {
  text-align: left;
}

tr:not(:last-of-type) {
  border-bottom: 1px solid $light-grey;
}

th:not(:last-of-type),
td:not(:last-of-type) {
  border-right: 1px solid $light-grey;
}

tr:nth-of-type(2n) {
  background: #fbfbfb;
}

