td,
th {
  padding: .5em 1.5em .5em .5em;
}

td:last-of-type,
th:last-of-type {
  padding-right: .5em;
}

th {
  text-align: left;
}

tr:not(:last-of-type) {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

