h1, .h1 { font-size: 3rem; }
h2, .h2 { font-size: 2.5rem; }
h3, .h3 { font-size: 2rem; }
h4, .h4 { font-size: 1.5rem; }
h5, .h5 { font-size: 1rem; }
h6, .h6 { font-size: .75rem; }
small, .small { font-size: .75rem; }

@media (max-width: 780px){
  .md-h1 { font-size: 3rem; }
  .md-h2 { font-size: 2.5rem; }
  .md-h3 { font-size: 2rem; }
  .md-h4 { font-size: 1.5rem; }
  .md-h5 { font-size: 1rem; }
  .md-h6 { font-size: .75rem; }
  .md-small { font-size: .75rem; }
}

@media (max-width: 480px){
  .sm-h1 { font-size: 3rem; }
  .sm-h2 { font-size: 2.5rem; }
  .sm-h3 { font-size: 2rem; }
  .sm-h4 { font-size: 1.5rem; }
  .sm-h5 { font-size: 1rem; }
  .sm-h6 { font-size: .75rem; }
  .sm-small { font-size: .75rem; }
}
