.font-family-inherit { font-family:inherit }
.font-size-inherit { font-size:inherit }
.text-decoration-none { text-decoration:none }

.bold { font-weight: bold; }
.normal { font-weight:normal }
.italic { font-style:italic }
.strike { text-decoration: line-through}
.caps { text-transform:uppercase; letter-spacing: .2em; }
.underline{ text-decoration:underline }
.hover-underline:hover { text-decoration:underline }

.truncate{
  max-width:100%;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.align-left { text-align:left }
.center { text-align:center }
.align-right { text-align:right }
.justify { text-align:justify }

.nowrap { white-space:nowrap }
.break-word { word-wrap:break-word }

.line-height-1 { line-height: 1 }
.line-height-2 { line-height: 1.2 }
.line-height-3 { line-height: 1.4 }
.line-height-4 { line-height: 1.6 }
.line-height-5 { line-height: 1.8 }
.line-height-6 { line-height: 2 }


