html {
  color: black;
  font-size: 16px;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

.small { font-size: 0.8em; }
.nano { font-size: 0.7em; }

h1, .h1 { font-size: 3.5rem; }
h2, .h2 { font-size: 3rem; }
h3, .h3 { font-size: 2rem; }
h4, .h4 { font-size: 1.5rem; }
h5, .h5 { font-size: 1rem; }
h6, .h6 { font-size: .75rem; }


