.small {
  font-size: 0.8em;
}


.verticallyCenter {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.o0 {
  opacity: 0;
}

.o1 {
  opacity: 1;
}

.pointer {
  cursor: pointer;
}

.width--100 {
  max-width: 100px;
}

.width--200 {
  max-width: 200px;
}

.width--300 {
  max-width: 300px;
}

.width--400 {
  max-width: 400px;
}

.width--500 {
  max-width: 500px;
}

.width--full {
  width: 100%;
}

